@import "./variables.sass"

body
  margin: 0
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif
  line-height: 1.154
  font-weight: 400
  -webkit-font-smoothing: subpixel-antialiased
  background-color: $background-color
  //padding: 25px 30px 30px

@mixin textlink ()
  color: $secondary-color
  text-decoration: none
  cursor: pointer
