$primary-font: 'PT Sans', sans-serif
$secondary-font: 'PT Serif', serif
$primary-color: #00386C
$secondary-color: #49B882

body
  font-family: $primary-font
  margin: 0
  -webkit-font-smoothing: antialiased
