html
    head
        title Тайтл
        meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
        script.
          (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter41239369 = new Ya.Metrika({ id:41239369, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks")
        style.
          body, html {
            background-image: url('https://media.giphy.com/media/5fBH6zoAQg9dHK2ttsc/giphy.gif');
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
            text-align: center;
            font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
          }
          a {
            display: inline-block;
            font-size: 14px;
            width: 100%;
            color: white;
          }
    body
      a(target="_blank" href="https://vk.com/add_community_app?aid=5746556&callback_url=http://vkdonates.ru") Установить «Пожертвования для сообществ»
