html
    head
        title Тайтл
        meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
        style.
          body, html {
            background-image: url('https://media.giphy.com/media/5fBH6zoAQg9dHK2ttsc/giphy.gif');
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
            text-align: center;
            font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
          }
          a {
            display: inline-block;
            font-size: 14px;
            width: 100%;
            color: white;
          }
    body
      a(target="_blank" href="https://vk.com/add_community_app?aid=5746556&callback_url=http://vkdonates.ru") Установить «Пожертвования для сообществ»
